# Desarrollo local
VITE_API_URL=http://localhost:3000/api
VITE_WS_URL=ws://localhost:3000/ws

# Azure AD Configuration
VITE_AZURE_CLIENT_ID=5eeff209-e05e-4fd5-af00-d911b6ca43a9
VITE_AZURE_TENANT_ID=8972f9d0-e562-41bc-9ff5-4b09d7bb0688
VITE_AZURE_REDIRECT_URI=https://rsm.ane.gov.co:12443/azure-callback
